'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'PDF Viewer'
        submenu: [
          { label: 'Refresh', command: 'pdf-viewer:refresh' }
          { label: 'Toggle Auto Refresh', command: 'pdf-viewer:toggle-refreshing' }
          { label: 'Reload All', command: 'pdf-viewer:reload-all' }
          { type: 'separator' }
          {
            label: 'Navigation'
            submenu: [
              { label: 'Next Page', command: 'pdf-viewer:next-page' }
              { label: 'Previous Page', command: 'pdf-viewer:previous-page' }
              { label: 'First Page', command: 'pdf-viewer:first-page' }
              { label: 'Last Page', command: 'pdf-viewer:last-page' }
            ]
          }
          {
            label: 'View'
            submenu: [
              { label: 'Zoom In', command: 'pdf-viewer:zoom-in' }
              { label: 'Zoom Out', command: 'pdf-viewer:zoom-out' }
              { label: 'Reset Zoom', command: 'pdf-viewer:zoom-reset' }
              { type: 'separator' }
              { label: 'Rotate Clockwise', command: 'pdf-viewer:rotate-clockwise' }
              { label: 'Rotate Counterclockwise', command: 'pdf-viewer:rotate-counterclockwise' }
              { type: 'separator' }
              { label: 'Invert Current Viewer', command: 'pdf-viewer:invert-current' }
              { label: 'Invert Mode', command: 'pdf-viewer:invert-mode' }
              { label: 'Toggle Sidebar', command: 'pdf-viewer:toggle-sidebar' }
              { label: 'Presentation Mode', command: 'pdf-viewer:presentation-mode' }
            ]
          }
          {
            label: 'Tools'
            submenu: [
              { label: 'Find', command: 'pdf-viewer:find' }
              { label: 'Find Next', command: 'pdf-viewer:find-next' }
              { label: 'Find Previous', command: 'pdf-viewer:find-previous' }
              { type: 'separator' }
              { label: 'Text Selection Tool', command: 'pdf-viewer:select-tool' }
              { label: 'Hand Tool', command: 'pdf-viewer:hand-tool' }
            ]
          }
          { type: 'separator' }
          { label: 'Compile Source', command: 'pdf-viewer:compile' }
          { label: 'Open Source', command: 'pdf-viewer:open-tex' }
          { type: 'separator' }
          { label: 'Download', command: 'pdf-viewer:download' }
          { label: 'Print', command: 'pdf-viewer:print' }
        ]
      }
    ]
  }
]
