'.pdf-viewer':
  'f5': 'pdf-viewer:refresh'
  'ctrl-f5': 'pdf-viewer:toggle-refreshing'
  'f8': 'pdf-viewer:invert-current'
  'f12': 'pdf-viewer:compile'
  'up': 'pdf-viewer:scroll-up'
  'down': 'pdf-viewer:scroll-down'
  'left': 'pdf-viewer:scroll-left'
  'right': 'pdf-viewer:scroll-right'
  'pageup': 'pdf-viewer:page-up'
  'pagedown': 'pdf-viewer:page-down'
  'space': 'pdf-viewer:page-down'
  'shift-space': 'pdf-viewer:page-up'
  'home': 'pdf-viewer:first-page'
  'end': 'pdf-viewer:last-page'
  'enter': 'pdf-viewer:next-page'
  'shift-enter': 'pdf-viewer:previous-page'
  'n': 'pdf-viewer:next-page'
  'j': 'pdf-viewer:next-page'
  'p': 'pdf-viewer:previous-page'
  'k': 'pdf-viewer:previous-page'
  'cmdorctrl-=': 'pdf-viewer:zoom-in'
  'cmdorctrl-+': 'pdf-viewer:zoom-in'
  'cmdorctrl--': 'pdf-viewer:zoom-out'
  'cmdorctrl-0': 'pdf-viewer:zoom-reset'
  'r': 'pdf-viewer:rotate-clockwise'
  'shift-r': 'pdf-viewer:rotate-counterclockwise'
  's': 'pdf-viewer:select-tool'
  'h': 'pdf-viewer:hand-tool'
  'cmdorctrl-f': 'pdf-viewer:find'
  'cmdorctrl-g': 'pdf-viewer:find-next'
  'cmdorctrl-shift-g': 'pdf-viewer:find-previous'
  'f4': 'pdf-viewer:toggle-sidebar'
  'cmdorctrl-alt-p': 'pdf-viewer:presentation-mode'
  'cmdorctrl-s': 'pdf-viewer:download'
