@import "ui-variables";

.pdf-viewer {
  border: none;
  width: 100%;
  height: 100%;
}

// Ensure the pane item container has position relative for absolute positioning
.item-views > .pane > .item-views {
  position: relative;
}
